<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="PE Section Test Suite" verbose="2" >
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
    <test name="PEsection Group">
        <classes>
	        <class name="com.PEsection.CreateNewCampaigns.NewCampaignTest"/>
         </classes>
    </test>
</suite>